h1 {
  width: 100%;
  text-align: center;
}

.center {
  text-align: center;
  padding: 10px;
}
.center button {
  border: 3px solid green;
  background: white;
  border-radius: 10px;
  padding: 10px;
}
.page {
  margin: 0 auto;
  max-width: 500px;
  width: 50%;
}

.screenshot {
  width: 720px;
  height: auto;
}

.screenshot img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.loader {
  font-weight: bold;
  text-align: center;
}

.not-loading {
  display: none;
}
